
<!DOCTYPE html>


<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
        <!-- Core CSS - Include with every page -->
        <link href="../../../../assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="../../../../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="../../../../assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
        <link href="../../../../assets/css/style.css" rel="stylesheet" />
        <link href="../../../../assets/css/main-style.css" rel="stylesheet" />
        <!-- Page-Level CSS -->
        <link href="assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
    </asp:ContentPlaceHolder>
</head>
<body>

    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                    <a class="navbar-brand" href="../../../../Inicio/index" style="width:20px;">
                        <img src="../../../../../assets/img/arriba_logo.png" style="width:auto; height:auto; padding-left:150px" />
                    </a>
                
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                @*<%--PARTE DE ARRIBA --%>*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            @if (Convert.ToString(Session["ID"]) == "") //esta inactivo
                            {
                                <a href="../frmLogin"><i class="fa fa-user fa-fw"></i>Iniciar Sesion</a>
                            }
                            else
                            {
                                <a href="../../../../../../Usuarios/Edit/@(Session["ID"])"><i class="fa fa-user fa-fw"></i>Mi Perfil</a>
                            }

                        </li>
                        <li class="divider"></li>
                        <li>
                            @if (Convert.ToString(Session["ID"]) == "")
                            {

                            }
                            else
                            {
                                
                                <a href="../../../../../../Default.aspx"><i class="fa fa-sign-out fa-fw"></i>Salir</a>
                            }

                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>

                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>

        <!-- end navbar top -->
        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div id="mainwrap">
                <div class="sidebar-collapse leftcol">
                    <!-- PARTE IZQUIERDA---------------------------------------------------------------------------------------------------- -->
                    <ul class="nav" id="side-menu">
                        <li>
                            @if (Convert.ToString(Session["ID"]) == "")
                            {
                                <!-- user image section-->
                                <div class="user-section">
                                    <div class="user-section-inner">
                                        <img src="../../../../../assets/img/user.jpg" alt="">
                                    </div>
                                    <div class="user-info">
                                        <div> <strong>Usuario</strong></div>
                                        <div class="user-text-online">
                                            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                        </div>
                                    </div>
                                </div>
                                <!--end user image section-->
                            }
                            else
                            {
                                <!-- user image section-->
                                <div class="user-section">
                                    <div class="user-section-inner">
                                        <img src="../../../../../assets/img/user.jpg" alt="">
                                    </div>
                                    <div class="user-info">
                                        <div> <strong>@Session["Cuenta"]</strong></div>
                                        <div class="user-text-online">
                                            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                                        </div>
                                    </div>
                                </div>
                                <!--end user image section-->
                            }

                        </li>

                        <li class="selected">
                            <a href="../../../../Inicio/index"><i class="fa fa-dashboard fa-fw"></i>PAGINA DE INICIO</a>
                        </li>
                        <li>
                            @if (Convert.ToString(Session["ID"]) == "")
                            {
                                <a href="#"><i class="fa fa-table fa-fw"></i>INFORMACION COVID<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="../../../../Inicio/Map">POR MUNICIPIOS</a>
                                    </li>

                                    <li>
                                        <a href="../../../../Inicio/index">POR DEPARTAMENTOS</a>
                                    </li>

                                </ul>
<li>
                                <a href="#"><i class="fa fa-flask fa-fw"></i>COMPARAR MAPAS</a>
                                </li>
                            }
                            else
                            {
                                <a href="#"><i class="fa fa-table fa-fw"></i> ADMINISTRAR<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="../../../../LayoutMaps/index">MAPAS</a>
                                    </li>

                                    <li>
                                        <a href="../../../../Usuarios/index">ADMINISTRADORES</a>
                                    </li>

                                </ul>
                                <!-- second-level-items -->
                            
                            <li>
                                <a href="#"><i class="fa fa-table fa-fw"></i>INFORMACION COVID<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="../../../../Inicio/Map">POR MUNICIPIOS</a>
                                    </li>

                                    <li>
                                        <a href="../../../../infCOVIDs/index">POR DEPARTAMENTOS</a>
                                    </li>

                                </ul>

                                <!-- second-level-items -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-flask fa-fw"></i>COMPARAR MAPAS</a>
                            </li>

                        }




                        </ul>
                    <!-- end side-menu -->
                </div>
                @*PARTE DERECHE*@
                <div class="rightcol" style="padding:25px">
                    
                    @RenderBody()
                </div>

            </div>
            <!-- end sidebar-collapse -->
        </nav>
    </div>
    <!-- end navbar side -->
    <!--  page-wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="../../../../assets/plugins/jquery-1.10.2.js"></script>
    <script src="../../../../assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../../../../assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../../../../assets/plugins/pace/pace.js"></script>
    <script src="../../../../assets/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="../../../../assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="../../../../assets/plugins/morris/morris.js"></script>
    <script src="../../../../assets/scripts/dashboard-demo.js"></script>
    <asp:ContentPlaceHolder ID="partMain" runat="server">
    </asp:ContentPlaceHolder>

    <style>
        .leftcol {
            width: 224px;
            float: left;
        }

        .rightcol {
            width: 656px;
            float: left;
        }
        #mainwrap {
            width: 880px;
            margin: 0 auto;
            text-align: left;
        }

    </style>
    
    
</body>
</html>

