<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootsrtap Free Admin Template - SIMINTA | Admin Dashboad Template</title>
    <!-- Core CSS - Include with every page -->
    <link href="../../../../assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../../../../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../../../../assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="../../../../assets/css/style.css" rel="stylesheet" />
    <link href="../../../../assets/css/main-style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../Inicio/index">
                    <img src="../../../../../assets/img/logo.png" alt="" />
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->
                @*<%--PARTE DE ARRIBA --%>*@
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="../../../../../../#"><i class="fa fa-user fa-fw"></i>Mi Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="../../../../../../Default.aspx"><i class="fa fa-sign-out fa-fw"></i>Salir</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>

                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>

        <!-- end navbar top -->
        <!-- navbar side -->
        <nav class="" role="navigation">
            <!-- sidebar-collapse -->
            <div id="mainwrap">
                
                @*PARTE DERECHE*@
                <div class="rightcol" style="border: 1px solid #ccc; padding: 0 1rem; margin: 1rem;  width:100%">
                    <div style="width:100%;  margin-left: auto; margin-right: auto;">@RenderBody()</div>
                    
                </div>

            </div>
            <!-- end sidebar-collapse -->
        </nav>
    </div>
    <!-- end navbar side -->
    <!--  page-wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="../../../../assets/plugins/jquery-1.10.2.js"></script>
    <script src="../../../../assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="../../../../assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../../../../assets/plugins/pace/pace.js"></script>
    <script src="../../../../assets/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="../../../../assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="../../../../assets/plugins/morris/morris.js"></script>
    <script src="../../../../assets/scripts/dashboard-demo.js"></script>
    <asp:ContentPlaceHolder ID="partMain" runat="server">
    </asp:ContentPlaceHolder>

    <style>
        .leftcol {
            width: 224px;
            float: left;
        }

        .rightcol {
            width: 656px;
            float: left;
        }

        #mainwrap {
            width: 880px;
            margin: 0 auto;
            text-align: left;
        }
    </style>

</body>
</html>