
@{
    ViewBag.Title = "Map";
}

<h2>MAPA POR MUNICIPIOS</h2>
<iframe src="https://datosagt2020.carto.com/builder/c1cdf57c-a007-4f3f-883a-c25ebdc50986/embed?state=%7B%22map%22%3A%7B%22ne%22%3A%5B-23.725011735951796%2C-74.20166015625001%5D%2C%22sw%22%3A%5B-10.984335146101955%2C-52.22900390625001%5D%2C%22center%22%3A%5B-17.465952690145564%2C-63.21533203125001%5D%2C%22zoom%22%3A6%7D%7D" width="500" height="500"></iframe>

